@media screen and (max-width: 1024px){ 
    #products__list{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        &:not(:last-child){
            margin-right: 0;
        }
        &:first-child{
            width: 100%;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 768px){
    .product {
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    #footer__networks{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    #hamburger_icon{
        display: block;
    }
    #navBar{
        display: none!important;
        
    }
    #logo{
        display: block!important;
    }
    .badge-cart{
        right: 14rem;
        top: 33%;
        outline: none;
        border: none;
        background: transparent;
    }
}


@media screen and (max-width: 425px){
   
}
