/* #region VARIABLES */
/*#endregion */
/* #region FONTS */
@font-face {
  font-family: fontStyleRegular;
  src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: fontStyleBold;
  src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: fontStyleSemiBold;
  src: url("../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf");
}

/*#endregion */
/* #region BASE SETTINGS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'fontStyleRegular';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

/*#endregion */
/* #region HEADER- logo + navigation + heading */
#header {
  background: #e8f1f8;
  padding: 20px;
}

#navBar > li {
  height: 45px;
  padding: 10px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

#navBar > li:hover, #navBar > li.active {
  background: #a01441;
}

#navBar > li:hover:last-of-type, #navBar > li.active:last-of-type {
  background: transparent;
}

#navBar > li:hover:last-of-type a, #navBar > li.active:last-of-type a {
  padding: 0;
}

#navBar > li:hover > a, #navBar > li.active > a {
  color: #ffffff;
}

#navBar > li > a {
  color: #000000;
  text-transform: uppercase;
}

#hamburger_icon {
  display: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#hamburger_icon span, #hamburger_icon span::before, #hamburger_icon span::after {
  background: black;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#hamburger_icon span {
  right: 0px;
  top: 13px;
  width: 27px;
}

#hamburger_icon span::before, #hamburger_icon span::after {
  content: "";
}

#hamburger_icon span::before {
  left: 0px;
  top: -10px;
  width: 16px;
}

#hamburger_icon span::after {
  left: 0px;
  top: 10px;
  width: 20px;
}

#hamburger_icon.close span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#hamburger_icon.close span::before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 27px;
}

#hamburger_icon.close span::after {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#mobile__menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mobile__menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.8);
}

#mobile__menu li {
  list-style: none;
}

#mobile__menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

.badge-cart {
  background: #a01441;
  color: #ffffff;
  border-radius: .5rem;
  top: 0.3rem;
  right: 1.7rem;
}

#cart-icon {
  border: none;
  outline: none;
}

#cart-icon:active, #cart-icon:focus {
  border: none;
  outline: none;
}

/* #region CART MODAL */
.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.body-blackout.is-blacked-out {
  display: block;
}

.popup-trigger {
  display: inline-block;
}

.popup-modal {
  width: 250px;
  min-height: auto;
  background-color: white;
  position: absolute;
  right: 3%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 1011;
}

.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}

.details__name {
  width: 50%;
}

.cart__product__remove a {
  color: #000000;
}

.cart__product__image img {
  width: 70px;
}

/*#endregion */
.jumbotron-heading {
  background: transparent;
}

#heading h1 {
  color: #6f6f6f;
  font-family: 'fontStyleSemiBold';
}

.btnWork-danger {
  background: #a01441;
  color: #ffffff;
  text-transform: uppercase;
}

/*#endregion */
/* #region SERVICES section */
#services {
  background: #17c1a4;
  padding: 5%;
}

.line {
  width: 10%;
  height: 2px;
}

#services__line {
  border-top: 2px solid #119d83;
}

.heading__title {
  text-transform: uppercase;
}

.heading__title h2 {
  font-family: 'fontStyleSemiBold';
  font-weight: bold;
}

#services__title, #services__subtitle {
  color: #ffffff;
}

.service__details, .product__details {
  text-align: center;
  height: 150px;
}

.service__name {
  padding-top: 20px;
}

.service__name h3 {
  font-family: 'fontStyleSemiBold';
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.service__icon {
  padding: 20px;
}

.service__description {
  padding: 0px 20px 20px 20px;
}

.service__description p {
  color: #ffffff;
  text-align: center;
}

/*#endregion */
/* #region OUR STORE section */
#store {
  background: #ffdc98;
  padding: 5%;
}

#store__line {
  border-top: 2px solid #e9c680;
}

#store__title, #store__subtitle {
  color: #000000;
}

.product__price {
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.product__price p {
  font-family: 'fontStyleSemiBold';
  font-weight: bold;
  font-size: 1.5rem;
}

.product__details {
  height: 180px;
}

.product__icon {
  height: 300px;
}

.product {
  border: 8px solid #343a40 !important;
}

.product:not(:last-child) {
  margin-right: 15px;
}

.product__name {
  padding-top: 20px;
}

.product__name h3 {
  font-family: 'fontStyleSemiBold';
  font-weight: bold;
}

/*#endregion */
/* #region FOOTER section */
#footer {
  background: #334a8e;
  padding: 20px;
}

#footer__networks > li > a {
  color: #ffffff;
  font-family: 'fontStyleSemiBold';
  font-weight: bold;
}

#footer__networks > li > a:hover {
  color: #3bb5e5;
}

/*#endregion */
/*# sourceMappingURL=style.css.map */